.board {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 200px;
  border: 2px solid green;
}

.row {
  border: 2px solid black;
}

.Header {
  background-color: #282c34;
  /* min-height: 1vh; */
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
